<html>
    <head>
        <title>My blog</title>
       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
        
        <h1><a href="#">OMG it's a blog</a></h1>
       
        {% for post in posts %}
         <div>
        <h2><a href="">{{ post.title }}</a></h2>
             <p><small>Published: {{ post.published_date }}</small></p>
        <p>{{ post.text|linebreaks }}</p>
        <hr>
            </div>
        {% endfor %}
        
        
        </div>

    </body>
</html>